 @media only screen and (max-width: 1140px) {
    .skills li {
      display: block;
    }
    .skills li {
      font-family: 'Open Sans';
      font-weight: 300;
      font-size: 12pt;
      color: #FFF;
      background-color: #0070ef;
      padding: 12px 60px 12px 30px;
      margin: 5%;
    }
    .skill-lists {
      margin-top: 22px;
      width: 100%;
    }
    .left {
      margin-left: 0px;
      display: inline-block;
      background-color: #f2f2f2;
      margin-bottom: -5%;
      width: 100%;
    }
    .right {
      margin-left: 0px;
      display: inline-block;
      width: 100%;
      margin-bottom: 1.5%;
    }
